/* Impostazioni generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Inizializzazione Colori */
:root {
    --dark: #23272A;
    --blue: #255EE9;
    --light: #F6F6F6;
    --violet: #748ADB;
}

/* Titolo principale */
h1 {
    color: white;
    font-size: 3em;
    padding-bottom: 20px;
}

/* Titoli sezioni */
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 1.8em;
}

.center {
    text-align: center;
}

/* Paragrafi */
p {
    font-size: 20px;
    padding: 15px 0px;
    line-height: 1.75;
}
.icon {
    font-size: 20px;
    padding-right: 20px;
}
/* Lista */
ul {
    list-style: none;
    gap: 50px;
}
footer li {
    padding-bottom: 20px;
}

/* ancora */
nav a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-head {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}

.container-small {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 130px 0px;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 30px;
}

/* Colori sfondo */
.bkg-light {
    background-color: var(--light);
}

.bkg-blue {
    background-color: var(--blue);
}

.bkg-dark {
    background-color: var(--dark);
}

/* Colori testo */
.txt-white {
    color: white;
}

.txt-blue {
    color: #7289DA;
}

/* bordo footer */
.border-btm {
    border-bottom: 1px solid #F6F6F6;
}

/* Impostazioni flex */
.d-flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* Dimensioni */
.images {
    width: 60%;
}

.text {
    width: 40%;
}

/* Bottoni */
.btn {
    border-radius: 20px;
    padding: 12px;
    background-color: white;
    color: var(--dark);
}

.btn-black {
    border-radius: 20px;
    padding: 12px;
    background-color: var(--dark);
    color: white;
}
.btn-purple {
    border: 1px solid #7289DA;
    border-radius: 25px;
    padding: 15px;
    background-color: var(--violet);
    color: white;
    margin-top: 15px;
}

div.buttons {
    margin: 10px;
}

/* Immagini */
.images img {
    width: 100%;
}

.bkg-image-section {
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    padding: 10px 10px;
}

.img-small {
    width: 22px;
    height: 15px;
}

.bkg-image {
    background-image: url(./img/jumbo.png);
    background-size: cover;
}

/* Onde */
.wave {
    height: 100px;
    width: 100%;
    background-image: url(./img/wave.svg);
    opacity: 0.03;
}

.wave-reverse {
    height: 100px;
    width: 100%;
    background-image: url(./img/wave.svg);
    opacity: 0.03;
    transform: rotateX(180deg);
}